{% extends 'users/home-user.html' %}
{% block title %}Listado de productos{% endblock title %}
{% block body %}
    {% if object_list %}
        <div class="container" style="padding:5%">
            <div class="card">
                <div class="card-header text-ligth" style = "background:#9fedd4;">
                    <strong class="card-title"><h1 class="text-center">Materiales</h1></strong>
                </div>
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre de Material</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in object_list %}
                                <tr>
                                    <td>{{ material.id }}</td>
                                    <td>{{ material.nombre }}</td>
                                    <td>{{ material.descripcion }}</td>
                                </tr>                                    
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock body %}
