{% extends 'users/home-user.html' %}
{% block title %}Entidades{% endblock title %}
    



{% block body %}
    <div class="container" style="padding: 10% 0;">
        <div class="col">
            <div class="row-sm-5">
                <div class="card text-center">
                    <div class="card-header" style="background-color: #ddf6dd;">
                        <h5>Indice de Productividad : {{pl_indc_prud}} </h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Parametros estadisticos relavantes</h5>
                        <p class="card-text">Toneladas recuperadas para reciclado por año : {{pl.ton_recup}}</p>
                        <p class="card-text">Cantidad de personas : {{pl.cant_personas}} </p>
                    </div>
                </div>
            </div>
    
        </div>
        <div class = "container" style="padding: 10% 0;">
                <div class="row-sm-5">
                    <div class="card text-center">
                        <div class="card-header" style="background-color: #ddf6dd;">
                            <h5>Indice costos GIRSU: {{pl_girsu}} </h5>
                        </div>
                        <h5 class="card-title">Parametros estadisticos relevantes</h5>
                        <p class="card-text">Toneladas Recuperada para reciclado por año: {{pl.ton_recup}} </p>
                        <p class="card-text">Gastos totales operativos en dolares: {{pl.gast_op}} </p>
                    </div>
                </div>
            </div>
            <div class = "container" style="padding: 10% 0;">
                <div class="row-sm-5">
                    <div class="card text-center">
                        <div class="card-header" style="background-color: #ddf6dd;">
                            <h5>Indice de Reciclaje por habitante: {{pl_indc_rec}} </h5>
                        </div>
                        <h5 class="card-title">Parametros estadisticos relevantes</h5>
                        <p class="card-text">Toneladas recuperadas para reciclado: {{cop.ton_rec}} </p>
                        <p class="card-text">Toneladas a rechazo por año: {{cop.ton_a_rechazo}} </p>
                    </div>
                </div>
            </div>
    </div>